<div id="js-cart"></div>

<% @carts.each do |cart| %>

  <div class="col-xs-6 col-sm-3 thumbnail text-center">

      <img src="<%= cart.image.url(:medium) %>" alt="<%= cart.comments %>" class=""/><br>



      <%= button_to 'View This Cart', cart_path(cart),{class: 'btn btn-primary js-cart', method: :get, data: { id: cart.id}}  %>

  </div>




<% end %>
<%= include_gon %>
