.hidden {
    display:none;
}

/*flash*/

.error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.category_name {
  position: absolute; 
  text-align: center;
  width: 100%;
  height: 0%;
  margin: auto;
  top: 11.5em;
  z-index: 51;
  color: #fff;
}

.thumbnail {
    border:none !important;
}

.part {
    height: 30em;
}


 

.category_name_wide {
  position:absolute;
  text-align: center;
  color: black;
  width: 100%;
  height: 0%;
  bottom: 2em;
  margin: auto;
  z-index: 51;
  color: #fff;
}

.cart {
    height: 50em;
}

.form-group {
    width: 50%;
}

.cart .row .btn {
    position: relative;
}

.cart.thumbnail {
    height: 30em;
}

@media(min-width:62em){
    .cart.thumbnail {
        height: 40em;
    }
}

@media(min-width:80em){
    .cart.thumbnail {
        height: 50em;
    }
}

.pull-left img {
    height: 6em;
    width: 8em;
}

.navbar-default .navbar-brand {
  color: black;
}

h1 {
  color:#80BCCF;
}

.navbar.navbar-inverse.navbar-static-top.navbar-transparent{
  background:transparent;
  border: none;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background:transparent;
}


button.navbar-toggle{
    background-color: #337ab7 !important;
}




.centerBlock {
    display: table;
    margin: 0 auto;
}

.simple_form.form-horizontal {
    border: none;
}

.carousel {
    max-width: 800px;
}

.centered {
    margin: 0 auto;
}

@media(max-width:650px){
    .item.pickgradient {
        max-height: 294px !important;
    }
}

@media(max-width:650px){
  #myCarousel {
    max-height: 294px !important;
  }
}

.carousel-control span {
    width: auto !important;
    height: auto !important;
    border-radius: 50%;
    padding: 5px;
    background-image: -webkit-radial-gradient(circle at center, rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-radial-gradient(circle at center, rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: radial-gradient(circle at center, rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}
.carousel-inner > .item > img {
    overflow: hidden;
}

.carousel-caption {
    left: 0 !important;
    right: 0 !important;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 40%);
    bottom: 0px;
    padding: 0 40px 50px 40px;
    width: 100%;
}

a:hover {
    background-color: #337ab7 !important;
}

.nav-custom {
    color: #337ab7 !important;
    font-weight: bold;
}

a:hover.nav-custom{
    color: white !important;
}

a:hover.carousel-control {
    background-color: transparent !important;
}










