<div class="container">
  <div class='row'>
    <h1>Welcome to Cart Kings!</h1>
  </div>

  <div class='row' style="overflow:hidden">
    <img class="img-responsive rotate" src=<%= @cart.image.url %>>
  </div>
</div>